
<form  #f="ngForm" (ngSubmit)="postPutUser(contratoUsuario)" novalidate >
    <div class="row">
        <fieldset style=" border-radius: 5px; width: 98%; margin: auto;">
            <div class="col s4">
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix [size]="'24px'" [icon]="'magnify'"></i>
                    <input mz-input  [label]="'Buscar Cep'" name="seachCep" [(ngModel)]="f.seachCep" [validate]="true" [dataError]="'Esse campo contem caracteres invalidos'"
                        [dataSuccess]="'ok'" id="seachCep-input" maxlength="8" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        type="text" #seachCep>
                </mz-input-container>
            </div>
            <div class="col s4" style="height: 84px;">
                <button mz-button mz-icon-mdi (click)="getClientCep(f);" type="button" style="position: relative; top:25px;" [disabled]="seachCep.value.length < 8">
                    Consultar CEP
                </button>

            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset style=" border-radius: 5px; width: 98%; margin: auto;">
            <div class="row">
                <div class="col s4">
                    
                    <mz-input-container>
                        <input mz-input 
                                mz-validation required
                                minlength="10"
                                maxlength="20"
                                [label]="'Nome'" 
                                name="nome"  
                                [(ngModel)]="contratoUsuario.usuario.nome" 
                                #Inputnome = "ngModel"
                                [dataError]=" getErro(Inputnome) "
                                [dataSuccess]="'ok'"
                                [validate]="true" 
                                id="nome-input" type="text">
                              
                    </mz-input-container>
                </div>  
                <div class="col s4">
                    <mz-input-container>
                        <input 
                            mz-input 
                            required 
                            mz-validation
                            type="email" 
                            name="email" 
                            [(ngModel)]="contratoUsuario.usuario.email" 
                            [validate]="true" 
                            [dataError]="' Email invalido'"
                            [dataSuccess]="'ok'"
                            [label]="'E-mail'" 
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </mz-input-container>
                </div>

            </div>
            <div class="row">
                <div class="col s4">
                    <mz-input-container>
                        <input 
                            mz-input 
                            required
                            [dataSuccess]="'ok'"
                            formatDoc = "999.999.999-99"
                            type="text" 
                            [label]="'Documento (RG, CPF, CNPJ)'" 
                            name="documento" 
                            [(ngModel)]="contratoUsuario.usuario.documento" 
                            >
                    </mz-input-container>
                    
                </div>
                <div class="col s4">
                    <mz-input-container>
                        <input 
                            mz-input  
                            required
                            formatDoc = "99/99/9999"
                            type="text"  
                            name="dataNascimento" 
                            id="dataNascimento-input" 
                            [(ngModel)]="contratoUsuario.usuario.dataNascimento"
                            [label]="'Data de Nascimento'" />
                    </mz-input-container>
                    
                </div>
                <div class="col s4" style="margin-top:35px;">
                    <mz-switch-container>
                        <input mz-switch name="sexo" 
                        [(ngModel)]="contratoUsuario.usuario.sexo" 
                        [off]="'Masculino'" 
                        [on]="'Ferminino'" 
                        type="checkbox">
                    </mz-switch-container>
                </div>
            </div>
            <fieldset  ngModelGroup="endereco"  style=" border-radius: 5px; width: 95%; margin: auto;" [hidden]="isOk">
                <legend class="red-text">Enderecos</legend>
                    <div   style="background-color: #f6f6f6; border-radius: 5px">
                        <div class="row">
                            <div class="col s4">
                                <mz-input-container>
                                    <i mz-icon-mdi mz-input-prefix [size]="'24px'" [icon]="'map-marker'"></i>
                                      <input type="hidden" name="id" [(ngModel)]="contratoUsuario.endereco.id">  
                                      <input mz-input [label]="'Cep'" name="cep" [(ngModel)]="contratoUsuario.endereco.cep" (ngModelChange)="mudou();" id="cep-input" length="150" type="text">
                                </mz-input-container>
                            </div>
                            <div class="col s4">
                                <mz-input-container>
                                    <i mz-icon-mdi mz-input-prefix [size]="'24px'" [icon]="'home'"></i>
                                    <!-- [validate]="true" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'" -->
                                    <input mz-input [label]="'logradouro'" name="logradouro" [(ngModel)]="contratoUsuario.endereco.logradouro" id="logradouro-input" length="150" type="text">
                                </mz-input-container>
                            </div>
                            <div class="col s4">
                                <mz-input-container>
                                    <i mz-icon-mdi mz-input-prefix [size]="'24px'" [icon]="'tag'"></i>
                                    <input [dataError]="'informe o seu endereço'"  mz-input [label]="'bairro'" name="bairro"
                                    [(ngModel)]="contratoUsuario.endereco.bairro" id="bairro-input" length="100" type="text">
                                </mz-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <mz-select-container>
                                    <i mz-icon-mdi mz-input-prefix [size]="'24px'" [icon]="'flag-variant'"></i>
                                    <select mz-select name="uf" [(ngModel)]="contratoUsuario.endereco.localidade" id="options-select" [label]="'UF'" [placeholder]="'Selecione...'">
                                        <option class="left circle" value="MG" >Minas Geraia</option>
                                        <option class="left circle" value="SP" >São Paulo</option>
                                        <option class="left circle" value="CE" >Ceará</option>
                                    </select>
                                </mz-select-container>
                            </div>
                            <div class="col s3">
                                    <mz-input-container>
                                        <i mz-icon-mdi mz-input-prefix [size]="'18px'" [icon]="'tag'"></i>
                                        <input  mz-input [label]="'complemento'" name="complemento"
                                        [(ngModel)]="contratoUsuario.endereco.complemento" id="complemento-input" length="100" type="text">
                                    </mz-input-container>
                                </div>
                            <div class="col s2 red-text" style="margin-top: 40px;">
                                <i mz-icon-mdi mz-tooltip tooltip="Adicionar novo enereço" [position]="'top'" [align]="'center'" [icon]="'plus-circle-outline'" class="link"></i>
                                <i mz-icon-mdi mz-tooltip tooltip="Adicionar novo enereço" [position]="'top'" [align]="'center'" [icon]="'add'" class="link"></i>
                            </div>
                        </div>
                    </div>
            </fieldset>
           
                <div class="row fonte-default border-botton" style="padding: 2px !important;  width: 97%; margin: 5px 5px 5px 5px;" *ngFor="let item of contratoUsuario.enderecos; let i = index;">
                    <div class="col s3">{{ item.bairro }}</div>
                    <div class="col s3">{{ item.logradouro }}</div>
                    <div class="col s2">{{ item.cep }}</div>
                    <div class="col s2">{{ item.localidade }}</div>
                    <div class="col s2 red-text">
                            <i mz-icon-mdi mz-tooltip tooltip="Editar registro" [position]="'top'" [align]="'center'" [icon]="'pencil-circle-outline'" class="link" (click)="editAddress(i)"></i>
                            <i mz-icon-mdi mz-tooltip tooltip="Remover registro" [position]="'top'" [align]="'center'" [icon]="'minus-circle-outline'" class="link" (click)="mdl.modalOpen(); mdl.params = {'id':item.id, 'indice':i}"></i>
                    </div>
                </div>
        </fieldset>

    </div>

    <div class="row">
        <div class="col s2">
            <button mz-button mz-icon-mdi size="'18px'" icon="content-save" type="submit" >
                Enviar
            </button>
        </div>
        <div class="col s2">
            <button mz-button mz-icon-mdi size="'18px'" icon="broom"  type="reset">
                Limpar
            </button>
        </div>
    </div>

</form>

<app-alert-message 
    (onYes)="apertouSim($event)"  
    [yesOrNo]="true"
    [message]="{title:'Treinamento de Angular', textBody:'Deseja Exluir este registro?'}" #mdl>
</app-alert-message>

