<div class="row">
    <div class="col s12">
      <form #frm="ngForm">
      <mz-input-container>
          <i mz-icon-mdi mz-input-prefix mz-tooltip tooltip="Listar Todos!"  
          style="cursor: pointer;" [size]="'24px'" [icon]="'magnify'" 
          (click)="getUser();frm.reset();"></i>
          <input  type="text" mz-input [label]="'Digite o nome do usuario para filtrar a lista...'" name="seachNome" [(ngModel)] = "seachNome"
              [dataSuccess]="'ok'" id="seachNome-input" (keyup)=searchByName(seachNome) #nome>
      </mz-input-container>
    </form>
  </div>
</div>
<fieldset style="border-radius: 5px; width: 99%; margin: auto;">
  
  <div class="row fonte-default red-text">
      <div class="col s1">ID</div>
      <div class="col s3">NOME</div>
      <div class="col s2">DOCUMENTO</div>
      <div class="col s2">NASCIMENTO</div>
      <div class="col s2">E-MAIL</div>
  </div>
  <div style="overflow: auto; height: 390px;" >
    <div class="row fonte-default border-botton" *ngFor="let itemUser of usuarios; let i =  index">
      <div  class="col s1">{{ itemUser.idUsuario }}</div>
      <div  class="col s3">{{ itemUser.nome }}</div>
      <div  class="col s2">{{ itemUser.documento | docs: '000.000.000-00'}}</div>
      <div  class="col s2">{{ itemUser.dataNascimento | date: 'dd/MM/yyyy'}}</div>
      <div  class="col s2">{{ itemUser.email }}</div>
      <div  class="col s2 red-text" >
        
        <i mz-icon-mdi mz-tooltip  tooltip="Editar registro" [position]="'top'" [align]="'center'" [icon]="'pencil-circle-outline'" class="link" [routerLink]="['/cadastro']" [queryParams]="{id:itemUser.idUsuario}"></i>
        <i mz-icon-mdi mz-tooltip  tooltip="Remover registro" [position]="'top'" [align]="'center'" [icon]="'minus-circle-outline'" class="link" (click)="mdl.modalOpen(); mdl.params = {'id':itemUser.idUsuario, 'indice':i}"></i>
      </div>
    </div>
  </div>
</fieldset>
<app-alert-message 
    (onYes)="apertouSim($event)"  
    [yesOrNo]="true"
    [message]="{title:'Treinamento de Angular', textBody:'Deseja Exluir este registro?'}" #mdl>
</app-alert-message>