
  <div class="container">
    <nav *ngIf="habilitar" style="margin-bottom: 10px;">

      <div class="nav-wrapper">
        <a mz-button class="right" style="margin-right: 10px; margin-top: 13px;" (click)="logout();">
          SAIR
        </a>
        <label class="right" style="margin-right: 10px; color:white;">{{ user.nome }}</label>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

          <li routerLinkActive="active">
            <a [routerLink]="['/cadastro']" data-activates="dropdown1" class="dropdown-button">Cadastro</a>
          </li>

          <li routerLinkActive="active">
            <a [routerLink]="['/lista']">Lista</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/alertMessage']"> Alerta</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet>
      <span *ngIf="showLoader" class="loading"></span>
    </router-outlet>
  </div>
